*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

header{
  width:100%;
  height:50px;
  background-color:#ff9a4b;
}

.content{
  width:960px;
  margin:50px auto;
  font-size:0;
}

.content-box{
  width:300px;
  background-color:#eee;
  display:inline-block;
  font-size:14px;
}

.content-step{
  background-color: #ff9a4b;
  color: white;
  position:absolute;
}

.content-box{
  position:relative;
}

.box1 .content-image{
  height: 150px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: bottom;
  margin:10px;
}

.box2 .content-image{
  height: 150px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: bottom;
  margin:10px;
}

.box3 .content-image{
  height: 150px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: bottom;
  margin:10px;
}

.content-text h3{
  margin:5px 0;
}



.box2{
  margin:0 30px
}


footer{
  width:100%;
  height:50px;
  background-color:#aaa;
}

@media screen and (max-width:425px){
  .content{
    width: 100%;
  }
  .content-box{
    display:block;
    margin:0 auto;
    width:90%;
  }
  .box2{
    margin:20px auto;
  }
}